{% extends "base.html" %}

{% block title %} Plugins {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="py-4 container vh-100">
  <h3 class="mt-3">Started:</h3>
  <div class="row">
    {% for container in started %}
    <div class="col-6 col-md-4 card mr-4 border-active d-flex flex-column" style="width: 18rem;">
      <form action="" method="post">
        {% csrf_token %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{container.card.name_to_show}}</h5>
          <p class="card-text">300 assets instantiated</p>
          <button type="submit" name="stop" class="btn btn-danger mt-auto"
            value="{{container.containerId}}">Stop</button>
        </div>
      </form>

    </div>
    {% endfor %}

  </div>

  <h3 class="mt-5">Available:</h3>

  <div class="row">
    {% if notstarted|length > 0 %}
    {% for plugin in notstarted %}
    <div class="col-6 col-md-4 card m-2 d-flex flex-column" style="width: 18rem;">
      <img class="card-img-top" src="{{plugin.card.snapshots_links.0}}" alt="Snapshot">

      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{plugin.card.name_to_show}}</h5>
        <p class="card-text">{{plugin.card.description|truncatechars:200}}</p>
        <button type="button" class="btn btn-primary mt-auto" data-toggle="modal" data-target="#{{plugin.name}}">
          Launch {{plugin.name}}
        </button>
      </div>

    </div>
    <div class="modal fade" id="{{plugin.name}}" tabindex="-1" role="dialog" aria-labelledby="{{plugin.name}}Label"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{plugin.name}}Label">Launch {{plugin.card.name_to_show}}</h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="modal-body">
              <input hidden type="text" class="form-control" name="IMAGE" value="{{plugin.image}}">

              {% if plugin.configuration.environment|length > 0 %}

              {% for variable in plugin.configuration.environment %}

              <div class="form-group">
                <label for="{{variable.key}}">{{variable.key}}</label>
                <input type="text" class="form-control" id="{{variable.key}}" name="{{variable.key}}"
                  value="{{variable.default}}">
              </div>
              {% endfor %}
              {% else %}
              <div class="alert alert-primary" role="alert">
                No configuration needed
              </div>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"
                data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">Launch</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-primary" role="alert">
      No plugins available
    </div>
    {% endif %}

  </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $("input[type=submit]").on('click', function () {
    var $this = $(this);
    $this.button('loading');
  });

</script>
{% endblock javascripts %}